* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0px;
}
body {
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    background: lightblue;
}

canvas {
    background: lightseagreen;
}