* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0px;
}
body {
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    background-image: url(../assets/grass3.jpg);
    background-repeat: repeat;
}

canvas {
/*    background: lightseagreen;*/
    background: url(../assets/desert1.jpg);
    background-size: 100% 100%;
}